@media only screen and (max-width: 840px) {
	
	.data-menu-style {
		full
	}
	
	.line {
    width: 0px;
}
	
	.project-header {
	top: -120px;
		margin-bottom: 0px;
		
	}
	
	.project-image  {
		top: -10px;
	}
       .site-branding {
            position: absolute;
            top: 22px;
            left: 50%;
			margin-left: -121px;
        }
	
        .custom-logo-link-footer {
            position: absolute;
            left: 50%;
            top: 10px;
            margin-left: -121px;
        }

        h1.thin {
            display: none;
        }

        #text-2 {
            margin-top: 250px;
            display: block;
            width: 180px;
            margin-left: 20px;
        }

        #text-3 {
            float: right;
            margin-top: -36px;
            width: 100px;
        }

        #text-3 a {
            font-size: 15px;
        }

        .project-title {
            font-size: 40px;
            line-height: 45px;
        }

        .pm-tit {
            display: block;
            width: 80px;
        }
        .project-summary {
           font-size: 18px;
           line-height: 26px;
		}
        .project-meta {
            display: none;
        }

        .c-col-6 {
            margin: 0px;
        }

        .site-footer {
            background-color: #fff;
        }

        .footer-ov:nth-child(1)
        {
            margin-top: 50px;
            height: 100%;
        }

        .footer-ov:nth-child(2)
        {
            height: 100%;
        }

        #primary-menu {
            text-align: center;
            width: 100%;
            position: absolute;
        }

        .site-navigation .menu > li > a {
            font-size: 15px;
            line-height: 30px;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 6px 0 0 0;
            width: 100%;
        }

        #menu-item-347 {
            display: none;
        }

        #menu-item-19792, #menu-item-19793, #menu-item-19794, #menu-item-19795, #menu-item-46, #menu-item-341 {
            display: block;
            border-bottom: 1px solid #999;
            padding: 0 0 5px 0;
        }

        .menu_at {
            display: block;
            background-color: #f5f5f5;
            padding: 0;
        }

        .menu_kt {
            display: block;
            background-color: #dedede;
            padding: 0;
        }
    